.ProficiencyBonus-Armor-Speed-OuterBox {
    display: flex;
    flex-direction: row;
    height: 88px;
    width: 600px;
    margin: 5px auto 0px auto;
}

.ProfBonusBox {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100px;
    margin: auto;
    border: 1.5px solid #222;
    border-radius: 10px;
    background-color: moccasin;
}

#ProfTextTop {
    margin: -2px auto 2px auto;
}

.ProfTextValue {
    margin: -2px auto 1px auto;
    border-style:dotted;
    border-width: 1.5px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#ProfTextBottom {
    margin: -1px auto 0px auto;
}

.ProfInput {
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    width: 45px;
    padding-bottom: 2px;
    height: 20px;
    margin: 3px auto 0px auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border-color: #222;
    text-align: center;
}

.ArmorClassBox {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 70px;
    margin: auto;
    border: 1.5px solid #222;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: moccasin;
}

#ArmorTextTop {
    margin: -2px auto 2px auto;
}

.ArmorTextValue {
    margin: -2px auto 0px auto;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#ArmorTextBottom {
    margin: -1px auto 0px auto;
}

.ArmorIncrement {
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    width: 45px;
    padding-bottom: 2px;
    height: 20px;
    margin: 0px auto -1px auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border-color: #222;
    text-align: center;
}

.AdditionalInfoEditButton {
    height: 25px;
    width: 40px;
    margin: 30px 5px 0px 5px;
    background-color: rgb(112, 112, 148);
    color:azure;
    border-radius: 10px;
    border-width: 1.5px;
    font-style: italic;
}

button:hover {
    cursor: pointer;
}

.SpeedBox {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 70px;
    border: 1.5px solid #222;
    margin: auto;
    background-color: moccasin;
}

.SpeedTextValue {
    margin: 5px auto 0px auto;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 20px;
    width: 45px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#SpeedTextBottom {
    margin: 3px auto 0px auto;
}

.SpeedInput {
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    width: 45px;
    padding-bottom: 2px;
    height: 30px;
    margin: 5px auto -3px auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border-color: #222;
    text-align: center;
}

.PassiveWisdomBox {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 120px;
    border: 1.5px solid #222;
    background-color: moccasin;
    margin: auto;
}

.PassiveTextValue {
    margin: 0px auto 0px auto;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#PassiveTextMiddle {
    margin: -2px auto 2px auto;
}

#PassiveTextBottom {
    margin: -3px auto 0px auto;
}
