/* 
*****************************************
CSS Styles for Character Sheet Header
*****************************************
*/

.Header {
  display: flex;
  flex-direction: row;
  flex: auto;
  height: 120px;
  max-height: 100%;
  width: 1000px;
  padding-bottom: 10px;
  background-color: var(--sheetBackground);
  margin: 0px auto 0px auto;
  border-style: solid;
  border-bottom: none;
}

.Character-Info {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 20px;
  max-height: 100%;
  min-width: 200px;
}

.Player-ImageSVG {
  margin: 10px 0px 10px 10px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: var(--sheetBackground);
}

.Player-Image {
  display: flex;
  height: auto;
  max-width: 100%;
  width: 69px;
  background-color: var(--sheetBackground);
}

.Image-Circle {
  margin: 0px  0px 0px 0px;
  background-color: var(--sheetBackground);
}

.ImageCircle {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border-style: solid;
  overflow: hidden;
}

.Character-Info-Box {
  display: flex;
  flex-direction: column;
  height: 100px;
  max-height: 100%;
  min-width: 200px;
  margin: 10px 10px 10px 10px;
  /* background-color: rgb(135, 166, 170); */
  border-radius: 13px;
  position: relative;
}

.Character-Name-Lvl {
  display: flex;
  flex-direction: row;
}

.Character-Name-Text {
  color: rgb(48, 48, 48);
  font-size: 24px;
  font-style: italic;
  margin: 0px 10px 10px 10px;
}

.Character-Name-Input {
  color: rgb(48, 48, 48);
  font-size: 20px;
  font-style: italic;
  margin: 0px 10px 10px 10px;
  background-color: whitesmoke;
  border-width: 1.5px;
}

.Character-Level-Title {
  color: rgb(48, 48, 48);
  font-size: 14px;
  font-weight: bold;
  margin: 10px 5px 10px 0px;
}

.Character-Level {
  color: rgb(48, 48, 48);
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin: 10px 10px 10px 0px;
}

.Character-Level-Input {
  color: rgb(48, 48, 48);
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin: 10px 10px 10px 0px;
  background-color: rgb(223, 223, 223);
  border-width: 1.5px;
}

.Character-Race-Class {
  display: flex;
  flex-direction: row;
  display: flex;
  min-width: 50px;
}

.Character-Race-Class  h2 {
  color: rgb(48, 48, 48);
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 0px 10px 10px 10px;
}

.Character-Race-Class-Input {
  color: rgb(48, 48, 48);
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 0px 10px 10px 10px;
  width: 150px;
  background-color: whitesmoke;
  border-width: 1.5px;
}

.Character-XP {
  display: flex;
  flex-direction: row;
  display: flex;
  min-width: 50px;
}

.Character-XP h2 {
  color: rgb(48, 48, 48);
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 0px 0px 10px 10px;
}

.Character-XP-Input {
  color: rgb(48, 48, 48);
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin: 0px 0px 10px 10px;
  width: 100px;
  background-color: rgb(223, 223, 223);
  border-width: 1.5px;
}

.Character-Header-Edit-Button {
  height: 25px;
  width: 40px;
  margin: 5px 10px 0px 30px;
  background-color: rgb(112, 112, 148);
  color:azure;
  border-radius: 10px;
  border-width: 1.5px;
  font-style: italic;
}
.mainHeaderButtonsBox {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 80px;
  color: white;
  margin: 0px 10px 0px auto;
}
.mainSaveButton {
  height: 40px;
  width: 80px;
  margin: 10px 0px 0px 0px;
  background-color: rgb(74, 69, 69);
  border-color: #ffd300;
  border-radius: 13px;
  border-style: solid;
  color: white;
  margin: 15px 0px 10px 0px;
  font-size: 12pt;
  font-weight: bold;
} 
.loadLabel {
  display: flex;
  height: 36px;
  width: 75px;
  margin: 0px 0px 0px 0px;
  background-color: rgb(74, 69, 69);
  border-color: #ffd300;
  border-radius: 13px;
  border-style: solid;
  border-width: 2px;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.loadInnerLabel {
  display: flex;
  height: 20px;
  width: 25px;
  margin: -2px 0px 0px 19px;
  background-color: rgba(74, 69, 69, 0);
  color: white;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
#loadFile {
  opacity: 0;
  z-index: -1;
}