/* 
*****************************************
CSS Styles for Character Sheet Header
*****************************************
*/

.Header {
  display: flex;
  flex-direction: row;
  flex: auto;
  height: 120px;
  max-height: 100%;
  width: 1000px;
  padding-bottom: 10px;
  background-color: var(--sheetBackground);
  margin: 0px auto 0px auto;
  border-style: solid;
  border-bottom: none;
}

.characterInfo {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 20px;
  max-height: 100%;
  min-width: 200px;
}

.characterInfoBox {
  display: flex;
  flex-direction: column;
  height: 100px;
  max-height: 100%;
  min-width: 200px;
  margin: 10px 10px 10px 10px;
  border-radius: 13px;
  position: relative;
}
.characterNameLvl {
  display: flex;
  flex-direction: row;
}
.characterNameText {
  color: rgb(48, 48, 48);
  font-size: 24px;
  font-style: italic;
  margin: 0px 10px 10px 10px;
}
.characterNameInput {
  color: rgb(48, 48, 48);
  font-size: 20px;
  font-style: italic;
  margin: 0px 10px 10px 10px;
  background-color: whitesmoke;
  border-width: 1.5px;
}
.characterLevelTitle {
  color: rgb(48, 48, 48);
  font-size: 14px;
  font-weight: bold;
  margin: 10px 5px 10px 0px;
}
.characterLevel {
  color: rgb(48, 48, 48);
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin: 10px 10px 10px 0px;
}
.characterLevelInput {
  color: rgb(48, 48, 48);
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin: 10px 10px 10px 0px;
  background-color: rgb(223, 223, 223);
  border-width: 1.5px;
}
.characterRaceClass {
  display: flex;
  flex-direction: row;
  display: flex;
  min-width: 50px;
}
.characterRaceClassText {
  color: rgb(48, 48, 48);
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  margin: 0px 10px 10px 10px;
}
.characterRaceClassInput {
  color: rgb(48, 48, 48);
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 0px 10px 10px 10px;
  width: 150px;
  background-color: whitesmoke;
  border-width: 1.5px;
}
.characterInfoBottomBox {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 500px;
}
.characterXPBox {
  display: flex;
  flex-direction: row;
  width: 186px;
  height: 30px;
}
.characterXPTitle {
  display: flex;
  flex-direction: row;
  width: 30px;
  color: rgb(48, 48, 48);
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px 10px 10px;
}
.characterXPValue {
  color: rgb(48, 48, 48);
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 0px 0px 10px 10px;
}
.characterXPInput {
  color: rgb(48, 48, 48);
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin: 0px 0px 10px 10px;
  width: 100px;
  background-color: rgb(223, 223, 223);
  border-width: 1.5px;
}
.characterHeaderEditButton {
  height: 25px;
  width: 40px;
  margin: 5px 10px 0px 30px;
  background-color: rgb(112, 112, 148);
  color:azure;
  border-radius: 10px;
  border-width: 1.5px;
  font-style: italic;
}

/* Image Circle and Image Loading Styles */
.playerImageBox {
  height: 100px;
  width: 100px;
  margin: 2px 0px 0px 0px;
  /* border-radius: 50px; */
  border-style: solid;
  overflow: hidden;
}
.playerImage {
  display: flex;
  height: auto;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}
.blankPlayerImage {
  display: flex;
  height: 105px;
  width: 105px;
  border-radius: 50px;
  margin: 0px 0px 0px 35px;
  font-size: 50pt;
  color: rgb(48, 48, 48);
}
.imageInputBox {
  display: flex;
  flex-direction: column;
  height: 20px;
  width: 220px;
  margin: 0px 0px 0px 0px;
  background-color: rgb(223, 223, 223);
  border-color: rgb(74, 69, 69);
  border-radius: 9px;
  border-style: solid;
  border-width: 2px;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.imageInputLabel {
  display: flex;
  height: 20px;
  width: 200px;
  margin: 1px 0px 0px 12px;
  color: rgb(48, 48, 48);
  font-size: 9pt;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}
.ImageInput {
  width: 85;
}
#loadImage {
  opacity: 0;
  z-index: -1;
}


/* Save and Edit Buttons */
.mainHeaderButtonsBox {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 80px;
  color: white;
  margin: 0px 10px 0px auto;
}
.mainSaveButton {
  height: 40px;
  width: 80px;
  margin: 10px 0px 0px 0px;
  background-color: rgb(74, 69, 69);
  border-color: #ffd300;
  border-radius: 13px;
  border-style: solid;
  color: white;
  margin: 15px 0px 10px 0px;
  font-size: 12pt;
  font-weight: bold;
} 
.loadLabel {
  display: flex;
  height: 36px;
  width: 75px;
  margin: 0px 0px 0px 0px;
  background-color: rgb(74, 69, 69);
  border-color: #ffd300;
  border-radius: 13px;
  border-style: solid;
  border-width: 2px;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.loadInnerLabel {
  display: flex;
  height: 20px;
  width: 25px;
  margin: -2px 0px 0px 19px;
  background-color: rgba(74, 69, 69, 0);
  color: white;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
#loadFile {
  opacity: 0;
  z-index: -1;
}