.Spells-MultiSelectBox {
    display: flex;
    flex-direction: column;
    height: 660px;
    width: 520px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.spellCardsMainBox {
    display: flex;
    flex-direction: column;
    height: 608px;
    width: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.spellCardText {
    font-size: 12pt;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

/* Spell Multi Select Header*/
.spellHeader {
    display: flex;
    flex-direction: row;
    height: 52px;
    width: 500px;
    margin: 5px 10px 0px 10px;
}
.spellTitleAndButtonBox {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 120px;
    margin: 0px 10px 0px 0px;
    border-width: 2px;
    border-color: black;
    border: #ffd300;
}
.spellHeaderText {
    margin: 2px 10px 5px 0px;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 2px;
    width: 53px;
}
.spellHeaderNewButton {
    background-color: rgb(35, 73, 73);
    height: 35px;
    width: 120px;
    margin: 2px 0px 0px 0px;
    font-weight: bolder;
    font-size: 13px;
    color:ghostwhite;
    border-radius: 5px;
}
.spellHeaderInfoBox {
    display: flex;
    flex-direction: row;
    height: 52px;
    width: 340px;
    margin: 0px 10px 0px 10px;  
    background-color: #92929200;
    align-items: center;
    font-weight: bold;
}
.spellModifierBox {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 70px;
    margin: 0px 10px 0px 10px;
    text-align: center;
}
.spellModifierLowerBox {
    display: flex;
    flex-direction: column;
    color: #646464;
    margin: -4px 0px 0px 0px;
}
.spellBonusBox {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 90px;
    margin: 0px 10px 0px 0px;
    text-align: center;
}
.spellBonusLowerBox {
    display: flex;
    flex-direction: column;
    color: #646464;
    margin: -4px 0px 0px 0px;
}
.spellSaveDCBox{
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 70px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.spellSaveDCLowerBox {
    display: flex;
    flex-direction: column;
    color: #646464;
    margin: -4px 0px 0px 0px;
}
.spellInfoEditButton {
    height: 20px;
    width: 40px;
    margin: 5px 0px 0px 15px;
    background-color: rgb(112, 112, 148);
    color:azure;
    border-radius: 10px;
    border-width: 1.5px;
    font-style: italic;
}
button:hover {
    cursor: pointer;
}
.SpellsEditButton {
    height: 25px;
    width: 40px;
    margin: 5px 10px 0px 30px;
    background-color: rgb(112, 112, 148);
    color:azure;
    border-radius: 10px;
    border-width: 1.5px;
    font-style: italic;
}

button:hover {
    cursor: pointer;
}
.spellModifierEditBox {
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    width: 45px;
    padding-bottom: 2px;
    height: 15px;
    margin: 0px 0px 0px 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border-color: #222;
    text-align: center; 
}
.spellBonusUpperEditBox {
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    width: 45px;
    padding-bottom: 2px;
    height: 15px;
    margin: 0px 0px 0px 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border-color: #222;
    text-align: center; 
}
.spellSaveDCUpperEditBox {
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    width: 45px;
    padding-bottom: 2px;
    height: 15px;
    margin: 0px 0px 0px 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border-color: #222;
    text-align: center; 
}


/* Outer Spell Card Boxes for both new cards*/
.loneSpellBox {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 475px;
    margin: 20px 0px 0px 10px;
}
.newSpellInfoUpperBox {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 475px;
    background-color: rgb(5, 97, 150);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.newSpellNotesLowerBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 475px;
    background-color: rgb(5, 97, 150);
    margin: 0px 0px 0px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.spellUpperInfoAndTimeBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 380px;
    margin: 0px 0px 0px 5px;
    color:aliceblue;
}
.spellNameToLevelInfoBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 365px;
    margin: 0px 0px 0px 0px;
    color:aliceblue;
}
.spellInfoNameBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    margin: 0px 0px 0px 5px;
    color:aliceblue;
    align-items: center;
}


/* Spell Name Input Box */
.spellNameBox {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 130px;
    margin: 5px 0px 0px 5px;
    color:aliceblue;
    font-size: 11pt;
    font-weight: bold;
}
.spellTypeIndicatorText {
    font-size: 8pt;
}
.spellNameInput {
    height: 20px;
    width: 95px;
    font-size: 11px;
    text-align: left;
}


/* Spell Range Selection Box */
.spellRangeChoiceBox {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 110px;
    margin: 0px 0px 0px 10px;
    color:rgb(255, 255, 255);
    text-align: center;
}
.rangedQuestionBox {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 110px;
    margin: 0px 0px 0px 0px;
    color:rgb(255, 255, 255);
}
.rangedQuestionText{
    font-size: 11pt;
}
.rangedQuestionOptionBox {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    margin: 2px 0px 0px 5px;
    text-align: center;
    font-weight: 600;
    font-size: 9pt;
}
.rangedQuestionOptionBoxActive {
    height: 15px;
    width: 15px;
    background-color: rgb(131, 131, 131);
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    margin: 2px 0px 0px 5px;
    text-align: center;
    font-weight: 600;
    font-size: 9pt;
}
.spellRangeSelectorBox {
    display: flex;
    flex-direction: row;
    margin: 0px 10px 0px 2px;
    align-items: center;
    width: 100px;
}
.rangedFeetText {
    font-size: 12pt;
    font-weight: 500;
    margin: 0px 0px 0px 5px;
}
.spellRangeDial {
    width: 45px;
    height: 20px;
    margin: 0px 0px 0px 22px;
    text-align: center;
    font-size: 12pt;
    color:rgb(0, 0, 0);
    background-color: rgb(223, 223, 223);
}
.spellRangeMultiSelectBox {
    display: flex;
    flex-direction: row;
    margin: 1px 15px 0px 0px;
    align-items: center;
    width: 100px;
    height: 20px;
}
.rangeSelector {
    width: 85px;
    height: 20px;
    margin: 0px 0px 0px 12px;
}
.RangedChoice {
    height: 25px;
    width: 70px;
    margin: 5px 5px 0px 5px;
    background-color: rgb(112, 112, 148);
    color:azure;
    border-radius: 10px;
    border-width: 1.5px;
}

.meleeRangeBox {
    display: flex;
    flex-direction: column;
    margin: -3px 0px 0px 10px;
}
.typeAnswerText {
    font-size: 12pt;
    margin: 0px 0px 0px 10px;
    font-weight: bold;
}

.shortRangeBox {
    margin: 0px 3px 0px 0px;
}


/* Spell DC Selection Box */
.spellBonusSelectorBox {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 85px;
    margin: 3px 10px 0px 10px;
    text-align: center;
}

.spellBonusSelectorText, .spellLevelSelectorText {
    font-weight: bold;
    color:aliceblue;
    margin: 0px 0px 0px 0px;
    font-size: 11pt;
}
.DCSelector {
    width: 70px;
    height: 40px;
    font-size: 9pt;
}


/* Spell Level Selection Box */
.spellLevelSelectorBox {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 80px;
    margin: 4px 10px 0px 0px;
    text-align: center;
}

.spellLevelSelector {
    width: 65px;
    height: 25px;
    font-size: 9pt;
}


/* Spell Casting Selection */
.castingTimeBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 240px;
    margin: 2px 0px 0px 122px;
    text-align: center;
    align-items: center;
}
.castingTimeTitleText{
    color: aliceblue;
    font-weight: bold;
    font-size: 11pt;
    width: 100px;
    margin: -3px 0px 0px 0px;
}
.castingTimeTypeSelector {
    width: 95px;
    height: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 9pt;
}
.castingTimeNumberDial {
    width: 35px;
    height: 15px;
    margin: 0px 5px 0px 0px;
    text-align: center;
    font-size: 10pt;
    color:rgb(0, 0, 0);
    background-color: rgb(223, 223, 223);
}
.castingTimeText{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 11pt;
}
.spellCardTypeText {
    font-size: 11pt;
    margin: 1px 0px 1px -5px;
    font-weight: bold;
}


/* Overall Spell Effect Selection Box */
.spellEffectTypeBox {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 125px;
    color: aliceblue;
    font-size: 12pt;
    font-weight: bold;
    margin: -5px 0px 0px 20px;
    align-items: center;
    text-align: center;
}
.spellEffectTitleText {
    font-size: 11pt;
    margin: 5px 0px 0px 0px;
    text-decoration: underline;
}
.spellEffectTypeText {
    font-size: 10pt;
    margin: 0px 0px 0px 0px;
}


/* Spell Damage Selection Box */
.spellDamageSelectionBox {
    display: flex;
    flex-direction: row;
    height: 15px;
    width: 80px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    align-items: center;
    color: aliceblue;
}
.damageEffectOptionBox {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    margin: 2px 0px 0px 5px;
}
.damageEffectOptionBoxactive {
    height: 15px;
    width: 15px;
    background-color: rgb(131, 131, 131);
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    margin: 0px 0px 0px 5px;
}


/* Spell Healing Selection Box */
.spellHealingSelectionBox {
    display: flex;
    flex-direction: row;
    height: 15px;
    width: 80px;
    margin: 3px 0px 0px 0px;
    text-align: center;
    align-items: center;
    color: aliceblue;
}
.healEffectOptionBox {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    margin: 2px 0px 0px 5px;
}
.healEffectOptionBoxactive {
    height: 15px;
    width: 15px;
    background-color: rgb(131, 131, 131);
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    margin: 0px 0px 0px 5px;
}

/* Spell Healing or Damage Dice Selection Box */
.spellDiceSelectionBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 120px;
    margin: -10px 0px 0px 0px;
    text-align: center;
}
.spellDiceTypeBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 55px;
    margin: 0px 0px 0px 10px;
    text-align: center;
}
.spellDiceSelector {
    width: 55px;
    margin: 2px 0px 0px 0px;
}
.numberOfSpellDiceBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    align-items: center;
}
.numberOfSpellDiceDial {
    width: 35px;
    height: 15px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    font-size: 12pt;
    color:rgb(0, 0, 0);
    background-color: rgb(223, 223, 223);
}
.spellDiceText {
    margin: 7px 0px 0px 3px;
    font-size: 12pt; 
    color: aliceblue;
    font-weight: bold;
}


/* Spell Other Selection Box */
.spellOtherSelectionBox {
    display: flex;
    flex-direction: row;
    height: 15px;
    width: 80px;
    margin: 3px 0px 0px 0px;
    text-align: center;
    align-items: center;
    color: aliceblue;
}
.otherEffectOptionBox {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    margin: 2px 0px 0px 5px;
}
.otherEffectOptionBoxactive {
    height: 15px;
    width: 15px;
    background-color: rgb(131, 131, 131);
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    margin: 0px 0px 0px 5px;
}

/* Spell Other Selection Input Box */
.spellOtherSelection {
    display: flex;
    flex-direction: row;
}
.spellOtherEffectBox {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100px;
    margin: 5px 0px 0px 22px;
}
.spellOtherEffectInput {
    height: 18px;
    width: 100px;
    font-size: 11px;
}

/* Cursor Hover Boxes */
.otherEffectOptionBox:hover, 
.otherEffectOptionBoxactive:hover,
.healEffectOptionBox:hover, 
.healEffectOptionBoxactive:hover,
.damageEffectOptionBox:hover, 
.damageEffectOptionBoxactive:hover, 
.rangedQuestionOptionBox:hover, 
.rangedQuestionOptionBoxActive:hover, 
.damageEffectOptionBox:hover, 
.damageEffectOptionBoxactive:hover,
select:hover

{
    cursor: pointer;
}


/*
    ********
    FINAL Spell Card CSS
    ********
*/

/* General, Outer CSS for Spell Final Cards */
.newLoneSpellBox {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 450px;
    margin: 10px 0px 0px 10px;
    background-color: rgb(5, 97, 150);
    border-radius: 5px;
}
.spellInfoUpperBox {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 450px;
}
.spellFinalLevelHeader {
    height: 25px;
    width: 450px;
    margin: 15px 0px -5px 10px;
    font-size: 13pt;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    color: rgb(158, 0, 0);
}

/* Spell Name */
.spellNameFinalBox {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 130px;
    margin: 5px 0px 0px 5px;
    color:aliceblue;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    align-items: center;
}


/* Spell Time */
.spellFinalTimeBox {
    display: column;
    flex-direction: column;
    height: 20px;
    width: 40px;
    margin: 0px 15px 0px 5px;
    color:aliceblue;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}
.spellInnerTimeBox {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 40px;
    margin: 0px 0px 0px 3px;
    color:aliceblue;
    font-size: 11pt;
    font-weight: light;
    text-align: center;
}
.spellTimeValueBox {
    height: 20px;
    width: 30px;
    font-size: 12pt;
}
.spellTimeUnitBox {
    height: 20px;
    width: 80px;
    font-size: 10px;
    margin: 0px 0px 0px -20px;
}


/* Spell Range CSS */
.finalSpellRangeBox {
    display: column;
    flex-direction: column;
    height: 20px;
    width: 42px;
    margin: 0px 15px 0px 5px;
    color:aliceblue;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}
.spellRangeBox {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 40px;
    margin: 0px 0px 0px 5px;
    color:aliceblue;
    font-size: 13pt;
    text-align: center;
}
.finalSpellRange {
    font-size: 13pt;
    margin: 0px 0px 0px -4px;
}
.finalSpellRangeFeetText {
    margin: 7px 0px 0px 2px;
    font-size: 8pt;
}
.spellOtherRangeTypeBox {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 40px;
    margin: 0px 0px 0px 0px;
    color:aliceblue;
    font-size: 13pt;
    text-align: center;
    align-items: center;
}
.spellOtherRangeTypeText {
    margin: 3px auto 0px auto;
    font-size: 10pt;
}


/* Spell DC Box */
.finalSpellDCOuterBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 60px;
    margin: 0px 5px 0px 5px;
    color: rgb(255, 255, 255);
}
.finalSpellDCHeaderText {
    margin: 0px 0px 0px 15px;
    color:rgb(253, 253, 253);
    font-weight: bold;
}
.finalSpellNoDCInnerBox {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 50px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-weight: bold;
}
.finalSpellNoDCAbilityText {
    margin: -2px 0px 0px 6px;
    color:rgb(255, 255, 255);
    font-size: 13pt;
}
.finalSpellDCInnerBox {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 50px;
    margin: 0px 10px 0px 0px;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-weight: bold;
}
.finalSpellDCValueText {
    margin: 0px 2px 0px 0px;
    color:rgb(255, 255, 255);
    font-size: 13pt;
}
.finalSpellDCAbilityText {
    margin: 2px 0px 0px 2px;
    color:rgb(255, 255, 255);
    font-size: 8pt;
}


/* Final Effect Box */
.finalEffectBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 95px;
    margin: 0px 10px 0px 0px;
    color:aliceblue;
    font-size: 11pt;
    font-weight: bold;
}
.finalSpellBonusOuterBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 35px;
    margin: 0px 10px 0px 10px;
    color: rgb(255, 255, 255);
}
.finalEffectOtherTitle {
    font-size: 12pt;
    margin: -1px 0px 0px 10px;
}
.finalEffectHealOrDamageTitle {
    font-size: 12pt;
    margin: -1px 0px 0px 15px;
}
.finalOtherTypeOuterBox {
    display: flex;
    height: 25px;
    width: 35px;
    margin: 0px 10px 0px 0px;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-weight: bold;
}
.finalOtherTypeInnerBox {
    display: flex;
    margin: 0px 0px 0px 0px;
    font-size: 10pt;
}
.finalHealOrDamageBox {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 90px;
    margin: 0px 0px 0px 0px;
    color:aliceblue;
    font-size: 11pt;
    font-weight: bold;
    align-items: center;
}
.finalSpellHealOrDamageTextBox {
    font-size: 9pt;
    font-weight: 500;
}
.finalSpellHitDiceBox {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: auto;
    margin: 0px 3px 0px 0px;
}


/* Spell Delete Button */
.DeleteSpellBox {
    height: 25px;
    width: 25px;
    margin: 5px 5px 0px 0px;
    background-color: rgb(197, 197, 199);
    color:rgb(214, 50, 0);
    font-weight: bolder;
    font-size: 13pt;
    border-radius: 10px;
    border-width: 1.5px;
    text-align: center;
}
.DeleteSpellBox:hover {
    cursor: pointer;
}


/* Final Spells Note Box */
.spellNotesLowerBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 450px;
    margin: 0px 0px 0px 0px;
}
.spellNotesInnerBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 90px;
    align-items: end;
}
.spellNotesText {
    margin: 2.5px 5px 0px 5px;
    color: aliceblue;
    font-weight: bold;
}
.spellNotesInputBox {
    height: 40px;
    width: 290px;
    font-size: 11px;
}
.finalSpellNotesBox {
    height: 40px;
    width: 340px;
    font-size: 11px;
}
.SpellBoxSaveButton {
    height: 20px;
    width: 80px;
    margin: 2px 5px 0px 5px;
    background-color: rgb(112, 112, 148);
    color:azure;
    border-radius: 10px;
    border-width: 1.5px;
    font-style: italic;
}