.Attacks-MultiSelectBox {
    display: flex;
    flex-direction: column;
    height: 660px;
    width: 520px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.attackCardsMainBox {
    display: flex;
    flex-direction: column;
    height: 608px;
    width: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.attackCardText {
    font-size: 12pt;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

/* Attack Main Header Box */
.attackHeader {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 300px;
    margin: 5px 10px 0px 10px;
}
.attackHeaderText {
    margin: 2px 10px 5px 0px;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 2px;
}
.attackHeaderNewButton {
    background-color: rgb(35, 73, 73);
    height: 23px;
    width: 130px;
    margin: 3px 0px 0px 10px;
    font-weight: bolder;
    font-size: 13px;
    color:ghostwhite;
    border-radius: 5px;
}


/*  Outer Attack Card Boxes for both new and main cards */
.loneAttackBox {
    display: flex;
    flex-direction: column;
    height: 110px;
    width: 450px;
    margin: 10px 0px 0px 10px;
}
.newLoneAttackBox {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 450px;
    margin: 10px 0px 0px 10px;
    flex-shrink: 0;
}
.attackInfoUpperBox {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 450px;
    background-color: rgb(5, 97, 150);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* Attack Name Input Box */
.attackInfoNameBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    margin: 0px 0px 0px 5px;
    color:aliceblue;
    align-items: center;
}
.attackNameBox {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 130px;
    margin: 5px 0px 0px 5px;
    color:aliceblue;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}
.attackNameInput {
    height: 20px;
    width: 95px;
    font-size: 11px;
}


/* Attack Card Type Selection Box */
.attackCardTypeText {
    font-size: 12pt;
    margin: 10px 0px 0px 0px;
}
.attackChoiceBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 110px;
    margin: 0px 0px 0px 10px;
    color:rgb(255, 255, 255);
    text-align: center;
}
.attackTypeChoice {
    width: 40px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 150px;
    margin: -2px 0px 0px 0px;
    font-size: 13pt;
    font-weight: bold;
    color: rgb(223, 139, 139);
    text-align: center;
    align-items: center;
}
#meleeAttack {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 108px;
    margin: 0px 15px 0px 20px;
    color:rgb(255, 255, 255);
    text-align: center;
    align-items: center;
}
#rangedAttack {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 85px;
    margin: 0px 15px 0px 20px;
    color:rgb(255, 255, 255);
    text-align: center;
    align-items: center;
}
.attackTypeIndicatorText {
    font-size: 8pt;
}
.MeleeChoice {
    height: 25px;
    width: 60px;
    margin: 5px 5px 0px 5px;
    background-color: rgb(112, 112, 148);
    color:azure;
    border-radius: 10px;
    border-width: 1.5px;
}
.RangedChoice {
    height: 25px;
    width: 70px;
    margin: 5px 5px 0px 5px;
    background-color: rgb(112, 112, 148);
    color:azure;
    border-radius: 10px;
    border-width: 1.5px;
}
.rangedRangeBox {
    display: flex;
    flex-direction: row;
    margin: -3px 0px 0px 10px;
}
.meleeRangeBox {
    display: flex;
    flex-direction: column;
    margin: -3px 0px 0px 10px;
}
.typeAnswerText {
    font-size: 12pt;
    margin: 0px 0px 0px 10px;
    font-weight: bold;
}
.shortRangeBox {
    margin: 0px 3px 0px 0px;
}
.shortLongRangeText {
    font-size: 8pt;
}
.rangeDial {
    width: 40px;
    height: 20px;
    margin: 0px auto 0px auto;
    text-align: center;
    font-size: 12pt;
    color:rgb(0, 0, 0);
    background-color: rgb(223, 223, 223);
}


/* Attack Bonus Selection Box */
.attackBonusBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 120px;
    margin: 0px 0px 0px 10px;
    color: aliceblue;
    align-items: center;
}
.attackBonusText {
    color:azure;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    width: 90px;
}
.attackBonusDial {
    width: 40px;
    height: 20px;
    margin: 5px 10px 0px 0px;
    text-align: center;
    font-size: 12pt;
    color:rgb(0, 0, 0);
    background-color: rgb(223, 223, 223);
}

/* Attack Damage Type Box */
.attackDMGText {
    color: aliceblue;
    font-size: 12pt;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}
.attackDMGTypeInput {
    height: 20px;
    width: 120px;
    font-size: 12px;
}
.dmgTypeBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 150px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    align-items: center;
}
.DamageSelector {
    width: 100px;
}
.finesseOption {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 130px;
    margin: 0px 0px 0px -10px;
    text-align: center;
    align-items: center;
    color: aliceblue;
}
.finesseText {
    margin: 0px 0px 0px 20px;
    font-size: 11pt;
}
.finesseOptionBox {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    margin: 2px 5px 0px 5px;
}
.finesseOptionBoxactive {
    height: 15px;
    width: 15px;
    background-color: rgb(131, 131, 131);
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    margin: auto 5px;
}
.finesseOptionBox:hover, 
.finesseOptionBoxactive:hover {
    cursor: pointer;
}
.MeleeOrRangedBox {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 150px;
    margin: 0px 0px 0px 10px;
    color: aliceblue;
}
.MeleeBox {
    display: flex;
    height: 25px;
    width: 50px;
    margin: 0px 5px 0px 0px;
    border-radius: 5px;
}
.RangeBox {
    display: flex;
    height: 25px;
    width: 60px;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
}
.RangedText {
    color: rgb(255, 255, 255);
    margin: 0px 0px 0px 2.5px;
}
.MeleeBox:hover, .RangeBox:hover {
    cursor: pointer;
}


/* Attack Dice Selection Box */
.diceSelectionBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 180px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.diceTypeBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 80px;
    margin: 0px 10px 0px 10px;
    text-align: center;
}
.diceSelector {
    width: 80px;
    margin: 2px 0px 0px 0px;
}
.numberOfDiceBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    align-items: center;
}
.numberOfDiceDial {
    width: 40px;
    height: 20px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    font-size: 12pt;
    color:rgb(0, 0, 0);
    background-color: rgb(223, 223, 223);
}


/* Attack Delete Button */
.DeleteAttackBox {
    height: 25px;
    width: 25px;
    margin: 5px 5px 0px 35px;
    background-color: rgb(218, 218, 218);
    color:rgb(214, 50, 0);
    font-weight: bolder;
    font-size: 13pt;
    border-radius: 10px;
    border-width: 1.5px;
    text-align: center;
}
.DeleteAttackBox:hover {
    cursor: pointer;
}


/* Attack Final Bonus Box */
.finalAttackBonusOuterBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 35px;
    margin: 0px 10px 0px 10px;
    color: rgb(255, 255, 255);
}
.finalAttackBonusHeaderText {
    margin: 0px auto 0px auto;
    color:rgb(253, 253, 253);
    font-weight: bold;
}
.finalAttackInnerBox {
    display: flex;
    height: 25px;
    width: 35px;
    margin: -1px 10px 0px 0px;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-weight: bold;
}
.finalAttackBonusValueText {
    margin: 0px auto;
    color:rgb(255, 255, 255);
}
.finalRangeBox {
    display: column;
    flex-direction: column;
    height: 20px;
    width: 40px;
    margin: 0px 15px 0px 5px;
    background-color: rgb(5, 97, 150);
    color:aliceblue;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}
.reachBox {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 35px;
    margin: 0px 0px 0px 5px;
    background-color: rgb(5, 97, 150);
    color:aliceblue;
    font-size: 11pt;
    font-weight: light;
    text-align: center;
}
.finalReachTop {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 35px;
    margin: -1px 0px 0px 0px;
    color:aliceblue;
    font-size: 10pt;
    font-weight: 500;
    text-align: center;
}
.finalReachBottom {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 35px;
    margin: -3px 0px 0px 0px;
    color:aliceblue;
    font-size: 9pt;
    font-weight: 500;
    text-align: center;
}
.rangeBox {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 40px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(5, 97, 150);
    color:aliceblue;
    font-size: 13pt;
    text-align: center;
}
.finalShortRange {
    font-size: 13pt;
}
.finalLongRange {
    margin: 3px 0px 0px 3px;
    font-size: 8pt;
}


/* Final Attack Damage Box */
.finalDamageBox {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 110px;
    margin: 0px 10px 0px 10px;
    background-color: rgb(5, 97, 150);
    color:aliceblue;
    font-size: 11pt;
    font-weight: bold;
}
.finalInnerDamageBox {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 110px;
    margin: 0px 10px 0px 0px;
    background-color: rgb(5, 97, 150);
    color:aliceblue;
    font-size: 11pt;
    font-weight: bold;
    align-items: center;
}
.finalDiceBox {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 40px;
}
.finalHitDiceBox {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 40px;
    margin: 0px 10px 0px 0px;
}
.finalTypeOfDamageBox {
    font-size: 9pt;
    font-weight: 500;
    font-style: italic;
    margin: 1px 0px 0px 0px;
}


/* Attack Final Notes Box */
.attackNotesLowerBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 450px;
    background-color: rgb(5, 97, 150);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.attackNotesInnerBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 90px;
    align-items: end;
}
.attackNotesText {
    margin: 2.5px 5px 0px 5px;
    color: aliceblue;
    font-weight: bold;
}
.attackNotesInputBox {
    height: 40px;
    width: 200px;
    font-size: 11px;
}
.finalAttackNotesBox {
    height: 40px;
    width: 340px;
    font-size: 11px;
}
.AttackBoxSaveButton {
    height: 20px;
    width: 80px;
    margin: 2px 5px 0px 5px;
    background-color: rgb(112, 112, 148);
    color:azure;
    border-radius: 10px;
    border-width: 1.5px;
    font-style: italic;
}