.attackHeader {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 200px;
    margin: 5px 10px 0px 0px;
    
}

.attackHeaderText {
    margin: 2px 10px 5px 0px;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 2px;
}

.attackHeaderNewButton {
    background-color: rgb(35, 73, 73);
    height: 23px;
    width: 30px;
    margin: 2px 0px 0px 10px;
    font-weight: bolder;
    font-size: 13px;
    color:ghostwhite;
}

.loneAttackBoxHolder > div {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 450px;
    margin: 10px 0px 0px 0px;
    background-color: azure;
}

.loneAttackBox {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 450px;
    margin: 10px 0px 0px 0px;
    background-color: azure;
}

.newLoneAttackBox {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 450px;
    margin: 10px 0px 0px 0px;
    background-color: azure;
    flex-shrink: 0;
}

.attackInfoUpperBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 450px;
    background-color: rgb(5, 109, 109);
}

.attackInfoNameBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 120px;
    margin: 0px 0px 0px 5px;
    background-color: rgb(5, 109, 109);
    color:aliceblue;
}

.attackNameInput {
    height: 20px;
    width: 120px;
    font-size: 12px;
}

.attackBonusOuterBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 155px;
    margin: 0px 0px 0px 15px;
    background-color: rgb(9, 66, 33);
    color: aliceblue;
}

.attackBonusText {
    margin: 0px auto;
}

.MeleeOrRangedBox {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 150px;
    margin: 0px 0px 0px 10px;
    color: aliceblue;
}

.MeleeBox {
    display: flex;
    height: 25px;
    width: 50px;
    margin: 0px 5px 0px 0px;
    background-color: rgb(200, 211, 42);
    border-radius: 5px;
}

.MeleeText {
    color: rgb(0, 132, 247);
    margin: 0px 0px 0px 2.5px;
}

.RangeBox {
    display: flex;
    height: 25px;
    width: 60px;
    margin: 0px 5px 0px 5px;
    background-color: rgb(253, 10, 123);
    border-radius: 5px;
}

.RangedText {
    color: rgb(255, 255, 255);
    margin: 0px 0px 0px 2.5px;
}

.MeleeBox:hover, .RangeBox:hover {
    cursor: pointer;
}

.FinesseWeaponBox {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 150px;
    margin: 0px 0px 0px 10px;
    color: aliceblue;
}

.FinesseBox {
    display: flex;
    height: 25px;
    width: 60px;
    margin: 0px 5px 0px 5px;
    background-color: rgb(156, 114, 134);
    border-radius: 5px;
}

.FinesseText {
    color: rgb(255, 255, 255);
    margin: 0px 0px 0px 2.5px;
}

.YesBox {
    display: flex;
    height: 25px;
    width: 30px;
    margin: 0px 5px 0px 5px;
    background-color: rgb(88, 244, 255);
    border-radius: 5px;
}

.NoBox {
    display: flex;
    height: 25px;
    width: 30px;
    margin: 0px 5px 0px 5px;
    background-color: rgb(139, 154, 204);
    border-radius: 5px;
}

.YesBox:hover, .NoBox:hover {
    cursor: pointer;
}

.proficientWeaponQuestionBox {
    display: flex;
    flex-direction: row;
}

.finalAttackBonusOuterBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 120px;
    color: rgb(255, 255, 255);
}

.finalAttackInnerBox {
    display: flex;
    height: 25px;
    width: 45px;
    margin: 0px 10px 0px 37px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

}

.finalAttackBonusText {
    margin: 0px auto;
    color:rgb(0, 0, 0);
}

.attackNotesLowerBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 450px;
    background-color: rgb(114, 141, 111);
}

.attackNotesText {
    margin: 2.5px 5px 0px 5px;
    color: aliceblue;
}

.attackNotesInputBox {
    height: 40px;
    width: 390px;
}

.Test {
    height: 50px;
    width: 200px;
    background-color: rgb(114, 141, 111);
    color:rgb(0, 0, 0);
}
.Test2 {
    height: 600px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}