.ProfAndLangOuterBox {
    display: flex;
    flex-direction: column;
    width: 249px;
    height: 500px;
    border: 2px solid #222;
    border-top-style: none;
    border-bottom-style: none;
}
.ProfAndLangText {
    margin: 5px auto 0px auto;
    font-size: 17px;
    border-bottom-style: solid;
    border-block-width: 1.5px;
    width: 200px;
    text-align: center;
}

.ProfAndLangBoxText {
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    margin: 0px 0px 2px 0px;
}

.ArmorBox, .WeaponsBox, .ToolsBox, .LanguagesBox {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 5px auto;
}

textarea {
    font-family: cursive;
    resize: none;
    height: 76px;
    border-width: 1.5px;
}