.ProfAndLangOuterBox {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.ProfAndLangText {
    margin: 5px auto 0px auto;
    font-size: 17px;
    border-bottom-style: solid;
    border-block-width: 1.5px;
    width: 200px;
    text-align: center;
    color:ghostwhite;
}

.ProfAndLangBoxText {
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    margin: 5px 0px 2px 0px;
    color:ghostwhite;
}

.ArmorBox, .WeaponsBox, .ToolsBox, .LanguagesBox {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 5px auto;
}

.ArmorInput {
    /* width: 200px;
    height: 100px; */
    resize: none;
    overflow-y: scroll;
}

textarea {
    font-family: cursive;
    resize: none;
  }