.SavingThrows-ProficiencesAndLanguagesBox {
    display: flex;
    flex-direction: column;
}

.SavingThrowsOuterBox {
    display: flex;
    flex-direction: column;
    width: 249px;
    height: 210px;
    border-style: solid;
    border-width: 2px;
}

.SavingThrowText {
    margin: 2px auto 0px auto;
    font-size: 20px;
    width: 150px;
    text-align: center;
}

.SavingThrowInnerBox {
    display: flex;
    flex-direction: row;
    width: 249px;
    height: 200px;
    margin: -3px 0px 0px 0px;
}

.SavingsThrowHeader {
    display: flex;
    flex-direction: row;
    width: 249px;
    height: 40px;
    border: 2px solid #222;
    border-top-style: none;
    border-left-style: none;
}

.SaveThrowsEditButton {
    height: 20px;
    width: 40px;
    margin: 7px 10px 0px -40px;
    background-color: rgb(112, 112, 148);
    color:azure;
    border-radius: 10px;
    border-width: 1.5px;
    font-style: italic;
}

button:hover {
    cursor: pointer;
}

.SavingThrowsFirstColumn {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px 15px;
}

.SavingThrowsSecondColumn {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 5px 0px;
}

.LoneSavesBox {
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 35px;
    margin: 6px auto 13px auto;
    /* background-color: rgb(139, 155, 150); */
}

.LoneSavesBoxInnerTop {
    display: flex;
    flex-direction: row;
    width: 125px;
    height: 35px;
}

.SaveModifierValue {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    border-bottom-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.SaveNameText {
    font-size: 16px;
    margin: 0px 5px;
    font-weight: 500;
}
